@font-face {
  font-family: TT Lakes;
  src: url("./assets/fonts/TTLakesMedium.ttf");
}

* {
  font-family: TT Lakes;
}

body {
  background-color: #f8f8f8;
  margin: 0;
}

.button {
  transition: all 0.2s;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: #ff3e79;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.button--arrow {
  background-color: #ffffff;
  border: solid 2px #ff3e79;
  color: #ff3e79;
  font-size: larger;
}

.button__price_card {
  width: 119px;
  display: flex;
  gap: 8px;
  box-sizing: border-box;
  padding: 0 12px;
  border-radius: 30px;
}

.button__price_card {
  color: #fff;
  text-align: right;
  font-family: TT Lakes;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px; /* 200% */
  letter-spacing: -0.15px;
}

.button:active {
  transition: all 0.2s;
  transform: scale(0.95);
  background-color: #ff6191;
}

.button img {
  height: 20px;
  width: auto;
}

.header {
  position: fixed;
  top: 0;
  z-index: 98;

  margin: 0 auto;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  border-bottom: solid 1px #d9fff5;
  background-color: #ffffff;
}

.header__h1 {
  display: none;
}

.header__right {
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  max-height: 35px;
  flex-wrap: nowrap;
  gap: 30px;
  align-items: flex-end;
}

.header__left {
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  gap: 8.35px;
  align-items: center;
}

.header__left--line {
}

.header__left--logo {
  height: 35px;
  width: auto;
  cursor: pointer;
}

.unnessesary-buttons {
  gap: 16px;
  display: none;
}

.nessesary-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nessesary-buttons span {
  display: none;
}

.main {
  min-width: 320px;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.main h1 {
  color: #1b1c21;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 142.857% */
  letter-spacing: -0.6px;
  border-left: solid 2 px #41f6d6;
  padding-left: 15px;
}

.main__navigation {
  overflow-x: scroll;
}

.main__navigation ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0;
  list-style: none;
}

.main__navigation ul li {
  border: solid 0px #b8ffec;
  border-radius: 8px;
  transition: all 0.2s;
  min-width: max-content;
  padding: 8px 10px;
  color: #909090;
  cursor: pointer;
}

.main__navigation ul li:hover {
  border: solid 2px #b8ffec;
  color: #909090;
  background-color: #ffffff;
}

.main__navigation ul li:active {
  transition: all 0.2s;
  transform: scale(0.95);
}

.main__article {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 10px;
}

.main__article-picture {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

br {
  margin: 8px 0;
}

.main__article p {
  max-height: 90px;
  overflow: hidden;

  color: #1b1c21;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.2px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main__article--active p {
  max-height: none;
  height: auto;
  overflow: visible;
}

.read_more {
  cursor: pointer;
  margin: 20px 0;
  display: flex;
  gap: 16px;
  transition: all 0.2s;
}

.read_more:active {
  transition: all 0.2s;
  transform: scale(0.95);
}

#swiper__read-more {
  display: none;
}

#type-of-equipment__read-more {
  display: none;
}

.article__picture {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.phone-call {
  transition: all 0.3s;
  position: fixed;
  top: 0;
  right: -320px;
  width: 320px;
  height: 100vh;
  background: #fff;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
    -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  z-index: 99;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 24px 16px;
}

.phone-call--active{
  right: 0;
}

.feedback {
  transition: all 0.3s;
  position: fixed;
  top: 0;
  right: -320px;
  width: 320px;
  height: 100vh;
  background: #fff;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
    -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  z-index: 99;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 24px 16px;
}

.feedback--active {
  right: 0;
}

.feedback__body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 40px 0 0 0;
}

.feedback__body h2 {
  padding-left: 16px;
  border-left: solid 3px #41f6d6;
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.6px;
}

.feedback__form {
  width: 100%;
  height: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #eaeaea;
  background: #fff;

  color: #b5b6bc;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}

.feedback__form--wide {
  height: 118px;
}

.feedback__footer {
  display: flex;
  margin: 16px 0;
  gap: 19px;
  flex-direction: column;
}

.feedback__footer p {
  width: 100%;
  margin: 0;
  color: #7e7e82;
  font-family: TT Lakes;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.feedback__footer p a {
  color: #ff6191;
  text-decoration: none;
}

.feedback__footer button {
  width: 136px;
  align-self:flex-end;
}

#menu {
  background-color: #ffffff;
  position: fixed;
  left: -340px;
  top: 0;
  margin: 0;
  transition: all 0.3s;
  min-width: 250px;
  min-height: 100vh;
  height: 100vh;
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  box-shadow: 0;
  z-index: 99;
}

.menu-active {
  transition: all 0.3s;
  transform: translateX(100%);
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
    -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
}

.menu__header {
  margin: 25px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu__header__left {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.logo {
  height: 51px;
}

.menu__main {
  margin-top: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 50px);
  height: auto;
}

.navigation-link {
  margin-left: 30px;
  color: #1b1c21;

  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  height: max-content;
}

.navigation-link--active {
  color: #7e7e82;
  margin-left: 10px;
  padding-left: 19px;
  border-left: 2px solid #41f6d7;
}

.menu__footer {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-buttons {
  display: flex;
  gap: 10px;
}

.mail {
  color: #1b1c21;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  transition: all 0.2s;
}

.mail:hover,
.phone-number:hover {
  color: #41f6d7;
  transition: all 0.2s;
}

.phone-number {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
  cursor: pointer;
  transition: all 0.2s;
}

.language-settings {
  height: 60px;
}

.language-settings__button:hover {
  color: #ff3e79;
  transition: all 0.3s;
}

.language-settings__button {
  background-color: transparent;
  border: none;
  font-size: large;
  cursor: pointer;
}

.repair_section {
  min-width: 320px;
  max-width: 1200px;
  width: 90%;
  margin: 40px auto;
}

.type-of-equipment_section {
  min-width: 320px;
  max-width: 1200px;
  width: 90%;
  margin: 40px auto;
}

.pricing_section {
  min-width: 320px;
  max-width: 1200px;
  width: 90%;
  margin: 40px auto;
}

.proposal_section {
  display: flex;
  gap: 16px;
  flex-direction: column;
  min-width: 320px;
  max-width: 1200px;
  width: 90%;
  margin: 40px auto;
}

.proposal__text {
  max-width: 523px;
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}

.proposal__button {
  display: flex;
  align-items: center;
}

.proposal__button span {
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}

#pricing_section__wrapper {
}

.swiper-pagination {
  position: static;
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 15px 0;
}

.brand_card {
  min-width: 224px;
  max-width: 224px;
  height: 72px;
  border-radius: 6px;
  border: 1px solid #eaeaea;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px;
}

.type_card {
  display: flex;
  flex-direction: column;
  width: 224px;
  min-width: 224px;
  max-width: 224px;
  height: 160px;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #eaeaea;
  background: #fff;
  justify-content: space-between;
}

.type_card button {
  margin-left: 153px;
}

.price_card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 260px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #fff;
  box-sizing: border-box;
  padding: 16px;
}

.price_card__buttom {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price_card__section {
  flex-direction: column;
  display: flex;
  gap: 4px;
}

.pricing_section__table-header {
  display: none;
  box-sizing: border-box;
  padding: 16px;
}

.pricing_section__table-header span {
  color: #7e7e82;
  font-family: TT Lakes;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
}

.price_card__section h2 {
  margin: 0;
  color: #7e7e82;
  font-family: TT Lakes;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  opacity: 0.7218;
}

.price_card__section p {
  margin: 0;
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.2px;
}

.footer {
  min-width: 320px;
  max-width: 1200px;
  width: 90%;
  margin: 16px auto;
  display: grid;
  grid-template-columns: 1fr;
}

.footer__first {
  color: #7e7e82;
  font-family: TT Lakes;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
}

.footer__second {
  color: #7e7e82;
  font-family: TT Lakes;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
}

.footer__third {
  color: #7e7e82;
  font-family: TT Lakes;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
}

.section__header {
  height: 56px;
  margin: 24px 0;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #f8f8f8 1.39%, #fff 100%);
}

.section__header h2 {
  min-width: 320px;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  color: #7e7e82;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  text-transform: uppercase;
  border-top: 1px #d9fff5;
}
@media screen and (min-width: 850px) {
  .header__right {
    display: flex;
    flex-direction: row;
    max-height: 35px;
    flex-wrap: nowrap;
    gap: 30px;
    align-items: flex-end;
  }

  .header__left {
    gap: 16.73px;
  }

  .header__left--line {
    height: 35px;
    width: 2px;
    background-color: #d5d5d5;
  }

  .main__article-picture {
    display: flex;
    flex-direction: row;
  }

  .article__picture {
    width: 360px;
    height: auto;
  }

  .unnessesary-buttons {
    display: flex;
    gap: 16px;
  }

  .main__navigation {
    overflow-x: hidden;
  }

  .main__navigation ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    padding: 0;
    list-style: none;
  }

  h1 {
    font-size: 25px;
  }

  #swiper__read-more {
    display: flex;
  }

  #type-of-equipment__read-more {
    display: flex;
  }

  .swiper-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    max-height: 160px;
    overflow: hidden;
  }

  .pricing_section__table-header {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
  }

  #pricing_section__wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: none;
    gap: 0;
    background-color: #fff;
    box-sizing: border-box;
    margin: 16;
    border-radius: 6px;
  }

  .price_card {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: none;
  }

  .price_card__section h2 {
    display: none;
    background-color: none;
  }

  .swiper-wrapper--active {
    flex-wrap: wrap;
    max-height: none;
    height: auto;
    overflow: visible;
  }

  .swiper-pagination {
    display: none;
  }

  .footer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer__first {
    text-align: left;
  }

  .footer__second {
    text-align: center;
  }

  .footer__third {
    text-align: right;
  }
}

@media (min-width: 1440px) {
  #menu {
    position: fixed;
    left: 0;
    top: 0;
  }

  .header {
    padding-left: 340px;
  }

  .main {
    padding-left: 340px;
  }

  .footer {
    padding-left: 340px;
  }

  #anti-amongus {
    display: none;
  }

  .unnessesary-buttons {
    display: none;
  }

  .header__h1 {
    display: inline;
    color: #1b1c21;
    font-family: TT Lakes;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 142.857% */
    letter-spacing: -0.6px;
    padding-left: 30px;
    border-left: solid 3px #41f6d6;
  }

  h1 {
    display: none;
  }

  .header__left {
    display: none;
  }

  .main__navigation {
    overflow-x: visible;
    display: flex;
    flex-wrap: wrap;
  }

  .main__article-picture {
    width: 90%;
    margin: 0 auto;
  }

  .nessesary-buttons span {
    display: inline;
  }
  
  .feedback{
    width: 440px; 
    right: -440px;
  }

  .feedback--active {
    right: 0;
  }

  .phone-call{
    width: 440px; 
    right: -440px;
  }

  .phone-call--active {
    right: 0;
  }
}
